<mat-card>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="example-container">

        <mat-form-field>
          <input matInput formControlName="name" placeholder="Enter your name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email">
          <mat-error *ngIf="signUpForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="password" autocomplete="current-password" [type]="hide ? 'password' : 'text'"
            placeholder="Enter your password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="femail">Femail</mat-radio-button>
        </mat-radio-group>

        <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid">Sign Up</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>