<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div *ngFor="let item of files" oncontextmenu="return false;">
            <ng-container *ngIf="item.type==2">
                <h4>{{item.title}}</h4>
                <p>{{item.description}}</p>
                <video style="height:500px; width: 600px" controls controlsList="nodownload" (click)="toggleVideo()"
                    #videoPlayer>
                    <source src="{{item.url}}" type="video/mp4" />
                    Browser not supported
                </video>
            </ng-container>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>