<mat-card>
  <mat-card-content>
    <form [formGroup]="signInForm" (ngSubmit)="OnSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your username" autocomplete="username" formControlName="userName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your password" autocomplete="current-password" formControlName="password"
            [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="signInForm.invalid">Sign In</button>
    </form>
    <div *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Incorrect username or password
  </div>
  </mat-card-content>
</mat-card>