<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" >
    <div *ngFor="let item of files" oncontextmenu="return false;">
      <ng-container *ngIf="item.type==1">
        <h4>{{item.title}}</h4>
        <p>{{item.description}}</p>
        <!-- <pdf-viewer [src]="sanitizer.bypassSecurityTrustResourceUrl(item.url)" [render-text]="true" [show-all]="true" [page]="page" style="display: block;">
        </pdf-viewer> -->
        <embed [src]="sanitizer.bypassSecurityTrustResourceUrl(item.url+'#toolbar=0')" width="800px" height="1100px" />
      </ng-container>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>