<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div style="background-color:#114eaf">
      <mat-toolbar color="primary">
        <button mat-button class="btn-block" [routerLink]="['/ppo']">Trainer</button>
      </mat-toolbar>
    </div>

    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Files
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item [routerLink]="['/ppo/file/video']">Video</a>
        <a mat-list-item [routerLink]="['/ppo/file/pdf']">Pdf</a>
      </mat-expansion-panel>
      <a mat-list-item *ngIf="userService.roleMatch(['SuperAdmin'])" [routerLink]="['/ppo/report']">Report</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">{{userName}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/user/signup']">Registration</button>
        <button mat-menu-item (click)="logOut()">Sign Out</button>
      </mat-menu>
    </mat-toolbar>
    <!-- <app-home></app-home> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>